@* @model Shop.Models.ShopItem

<h2>@Model.Name</h2>
<p><strong>دسته‌بندی:</strong> @ViewBag.CategoryName</p>
<p><strong>توضیحات:</strong> @Model.Description</p>
<p><strong>قیمت:</strong> @Model.Price تومان</p> *@
